.width100 {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
  border-radius: 1rem;

}

.addNotaButton {
  margin-top: 2rem;
}

.customContainer {
  margin-top: 2rem;
}



.dateTextView {
  color: rgb(97, 97, 97);
  font-size: 13px;
}

.sidebar {
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 0 !important;
}

label {
  font-size: 10px
}

button {
  margin-left: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
