<div class="row justify-content-center w-100" style="padding-left: 1.76rem;">
  <div class="col-md-9 col-12">
    <div class="row">
      <div *ngFor="let res of (this.news)" class="col-12 mt-2">
        <!--USAMOS PIPE PARA PODER LISTAR UN OBSERVABLE-->
        <div class="card width100 sidebar">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8 col-12">
                <div class="row">
                  <div class="col-10">
                    <h5 class="card-title">{{res.name}}</h5>
                    <p class="card-text">{{res.description}}</p>
                    <p class="dateTextView">
                      {{res.date}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12 d-flex justify-center p-2">
                <img src="{{res.img}}" style="max-height: auto; width: 100%; border-radius: 0.5rem; object-fit: cover;">
              </div>
              <div class="row mt-2">
                <button class="btn btn-warning buttonBorrar" (click)="onDelete(res)">Eliminar</button>
                <button class="btn btn-warning buttonBorrar" (click)="onUpdate(res)">Actualizar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr><br>
  <div class="badge-base LI-profile-badge" data-locale="es_ES" data-size="medium" data-theme="dark" data-type="VERTICAL"
    data-vanity="victor-manuel-velazquez-fuentes-bab088156" data-version="v1"><a class="badge-base__link LI-simple-link"
      href="https://mx.linkedin.com/in/victor-manuel-velazquez-fuentes-bab088156?trk=profile-badge">Victor Manuel
      Velazquez Fuentes</a></div>

</div>
