.navBarCustom {
  max-height: 75px;
  overflow: hidden;
}

.button-hamburguer {
  border: white;
  background-color: white;
  margin-left: 0.5rem;
}

.button-google {
  border: white;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  background-color: white;
}


.img-google {
  height: 54px;
}


.cutom-input {
  border: white;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  background-color: white;
}

.input-c {
  height: 3rem;
  border-left: white;
}

.button-dots {
  background-color: white;
  border-right: white;
}


.imgPuntos {
  height: 2rem;
  margin-right: 0.2rem;
}


.imgCuentaGoogle {
  height: 2rem;
  margin-right: 0.2rem
}


.imgCircularGoogle {
  height: 2.7rem;
  border-radius: 50%;
}
