<div class="fixed-top position-fixed">
  <nav class="navbar navbar-light bg-white row shadow-lg flex-nowrap navBarCustom">
    <div class="col flex-nowrap">
      <div class="row flex-nowrap">
        <button class="button-hamburguer" (click)="cambio()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <button class="button-google" (click)="cambio()">
          <img src="../../../assets/logo.png" class="positio-static img-google" />
        </button>
      </div>
    </div>
    <div class="col-7">
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text button-dots" id="addon-wrapping"><svg width="1em" height="1em"
              viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
              <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg></span>
        </div>
        <input placeholder="Busca temas, ubicaciones y fuentes" type="text" width="90%" class="form-control input-c"
          aria-label="Text input with checkbox">
      </div>
    </div>
    <div class="col d-flex justify-content-end position-static">
      <button class="cutom-input">
        <img src="../../../assets/puntos.png" class="imgPuntos" alt="">
      </button>
      <button class="cutom-input">
        <img class="imgCircularGoogle"
          src="https://lh3.googleusercontent.com/ogw/ADGmqu9_V-uCPPjmF4y2IVEDRKGUYbf9DS1kDVs05OcN9A=s32-c-mo" alt="">
      </button>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>