.containerCustom {
  margin-top: 6em;
}


.formGroupCustom {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.imgeDefault {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 1rem;
}

.goHomeButton {
  margin-left: 1rem;
}
