.containerCustom {
  margin-top: 2em;
}


.formGroupCustom {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.imgeDefault {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 1rem;
}

.goHomeButton {
  margin-left: 1rem;
}



button {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
